.card{
    box-shadow: 3px 7px 5px 5px rgba(170,170,170,0.29);
    -webkit-box-shadow: 3px 7px 5px 5px rgba(170,170,170,0.29);
    -moz-box-shadow: 3px 7px 5px 5px rgba(170,170,170,0.29);
}
#submit{
    background-color: rgb(0, 76, 255);
    color:#fff;
}
#submit:hover{
    background-color: rgb(5, 61, 172);
}
.pwd{
    position: relative;
}
.passwordIconHolder{
    z-index: 9999;
    position: absolute;
    top: 20%;
    right: 10px;
}
.passwordIcon{
    color: black;
}
.passwordIcon:hover{
    cursor: pointer;
}